# temporary files
**/*#

# eclipse folders
/.settings/
/tests/hidden_data/
Meta

# RStudio files
.Rproj.user
*.Rproj

# Tests
tests/testthat/*.rda

# Homepage
docs

# Quarto project
/.quarto/

README.html
