
## Import of packages
import(
	foreign,
	methods,
	vegdata
)

## Export of classes
exportClasses(
	taxlist
)

## Export methods
exportMethods(
	"[", "[<-", "$", "$<-",
	accepted_name,
	"accepted_name<-",
	"change_concept<-",
	first_name,
	"first_name<-",
	merge_taxa,
	subset,
	summary,
	taxonNames,
	"taxonNames<-",
	taxonRelations,
	"taxonRelations<-",
	taxonTraits,
	"taxonTraits<-"
)

# Export of regular function names
export(
	add_concept,
	add_name,
	backup_object,
	df2taxlist,
	tvsplist
)
