## Import functions
importFrom("stats", "na.omit")

## Import of packages
import(
	foreign,
	methods,
	vegdata
)

## Export of classes
exportClasses(
	taxlist
)

## Export methods
exportMethods(
	add_concept,
	levels,"levels<-"
)

# Export of regular function names
